
# BEGIN Really Simple Security LETS ENCRYPT
# Las directivas (líneas) entre «BEGIN Really Simple Security LETS ENCRYPT» y «END Really Simple Security LETS ENCRYPT» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<ifModule mod_authz_core.c>
    Require all denied
</ifModule>
<ifModule !mod_authz_core.c>
    Deny from all
</ifModule>
# END Really Simple Security LETS ENCRYPT